
* {
   font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --verdebonito: #14834b;
}


/* navbar */
.navbar-brand img {
    height: 2em;
    vertical-align: middle;
}

.navbar-brand {
    font-weight: bold;
}


/* carousel */
.carousel-inner img {
  max-width: 100%;
  max-height: 100%;
}


/* quienes somos */
#texto {
    background-color: black;
    color: white;
}

#texto h1 {
    color: white;
    letter-spacing: 1px;
}

.icono-quienes-somos {
    background-color: var(--verdebonito);
    font-size: 25px;
    text-align: center;
}

/* destacados */
#cont-foto {
    background-color: var(--verdebonito);
    color: white;
}

.card-img-top {
    height: 200px; 
    object-fit: cover;
}


/* form */
.form {
    color: white;
}

#btn {
    background-color: var(--verdebonito);
    color: white;
}



/* foter */
footer {
    background-color: var(--verdebonito);
    color: white;
    display: flex;
    justify-content: space-around;
}

.links-footer i{
    text-decoration: none;
    color: white;
}
