
* {
   font-family: 'DM Sans', sans-serif;
}


.navbar-brand img {
    height: 2em;
    vertical-align: middle;
}

.navbar-brand {
    font-weight: bold;
    vertical-align: middle;

}

.navbar-inner {
    background:transparent;
}

.carousel-inner img {
    height: auto;
    width: auto;
}
   
#texto {
    background-color: black;
}

#texto h1 {
    color: white;
    letter-spacing: 1px;
}

.columnas-texto {
  width: 1366px;
  height: 768px;
  display: grid;
  grid-template-rows: repeat(2, 30%);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
text-align: center;
color: white;
}

.iconos {
    background-color: aquamarine;
}

.form {
    color: white;
}

footer {
    background-color: aqua;
    color: white;
    display: inline-flex;
}